<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-table/dist/bootstrap-table.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/toastr/build/toastr.min.css}">
	<title>Crud table</title>
</head>

<body>
	<div class="container">
		<h1>Crud table</h1>
		<div class="row">
			<div id="formContainer" method="POST" class="form-container border" style="padding-bottom: 10px;" hidden>
				<!--forms-->
				<form id="productForm" class="row g-3" novalidate>
					<div class="col-12">
						<label for="name" name="" class="form-label">Name</label>
						<input type="number" class="form-control" id="id" name="id" placeholder="ID" readonly hidden>
						<input type="text" class="form-control" id="name" name="name" placeholder="Product Name" required>
					</div>
					<div class="col-12 input">
						<div class="float-end">
							<a role="submit" href="javascript:void(0)" class="btn btn-outline-primary btn-form-action"
								onclick="saveProduct(false)">Save</a>
							<a role="submit" href="javascript:void(0)" class="btn btn-outline-primary btn-form-action"
								onclick="saveProduct(true)">Save and continue</a>
							<button type="button" class="btn btn-outline-secondary"
								onclick="cancelForm()">Cancel</button>
						</div>
					</div>

				</form>

			</div>
			<br>
			<div class="border table-container" style="margin-top: 20px;">

				<div id="toolbar" class="input-group">
					<span class="input-group-text">Name</span>
					<input placeholder="Product Name" type="text" name="searchName" aria-label="Name" class="form-control">
					<button class="btn btn-outline-primary" onclick="search()" type="button">Search</button>
				</div>

				<table id="crudTable"></table>

			</div>
		</div>
	</div>

	<!--javascript-->
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/bootstrap-table/dist/bootstrap-table.min.js}"></script>
	<script th:src="@{/webjars/feather-icons/4.28.0/dist/feather.min.js}"></script>
	<script th:src="@{/webjars/toastr/build/toastr.min.js}"></script>

	<script>
		$(function () {
			var tableObj = new CrudTable();
			tableObj.Init();
			feather.replace();
		});

		var CrudTable = function () {
			var crudTableObj = new Object();
			crudTableObj.Init = function () {
				$('#crudTable').bootstrapTable({
					locale: 'en-US',
					url: '/product/list',
					method: 'get',
					contentType: "application/x-www-form-urlencoded",
					striped: true,
					cache: false,
					pagination: true,
					sortable: false,
					sortOrder: "asc",
					sidePagination: "server",
					pageNumber: 1,
					pageSize: 10,
					pageList: [10, 25, 50, 100],
					showColumns: true,
					showRefresh: true,
					minimunCountColumns: 2,
					clickToSelect: false,
					height: 620,
					uniqueId: "id",
					showAdd: true,
					showToggle: true,
					cardView: false,
					detailView: false,
					toolbar: '#toolbar',
					buttons: {
						btnAdd: {
							icon: 'fa-plus',
							event: showProductForm,							
							attributes: {
								title: 'New product'
							}
						}
					},
					queryParams: function (params) {
						return {
							limit: params.limit,
							page: params.offset / params.limit,
							name: $("input[name='searchName']").val()
						};
					},
					resoponseHandler: function (data) {
						return {
							"total": data.total,
							"rows": data.rows
						};
					},
					columns: [
						{
							field: 'id',
							title: 'ID',
						},
						{
							field: 'name',
							title: 'Nombre'
						},
						{
							field: 'actions',
							title: 'Operaciones',
							formatter: function (value, row, index) {

								// var details = '<button class="btn btn-sm btn-outline-primary" onclick="showProduct(\'' + row.id + '\')"> <i data-feather="file"></i> Details</button> ';
								var edit = '<button class="btn btn-sm btn-outline-success" onclick="editProduct(\'' + row.id + '\')"> <i data-feather="edit"></i> Edit</button> ';
								var del_ = '<button class="btn btn-sm btn-outline-danger" onclick="deleteProduct(\'' + row.id + '\')"> <i data-feather="trash-2"></i> Delete</button> ';
								// return details + edit + del_;
								return edit + del_;
							}
						}
					],
					onPostBody: function () {
						feather.replace();
					}
				});
			};
			return crudTableObj;
		};
		/* ------------------------------------------------------------------------- */
		// table actions

		// edit row
		function editProduct(rowId) {
			console.log('editing row:', rowId);
			loadProductValuesToForm(rowId);
			showProductForm();
		}

		// delete row
		function deleteProduct(rowId) {
			console.log('removing row:', rowId);
			let successFn = function (result) {toastr.success(result.message); refreshTable();}
			let failFn = function (result) {toastr.error(result.responseJSON.message);}

			deleteProductRequest(rowId, successFn, failFn);
		}

		// search 
		function search() {
			refreshTable()
		}

		function refreshTable() {
			$("#crudTable").bootstrapTable("refresh", {silent: true});
		}
		/* ------------------------------------------------------------------------- */
		// form actions

		// cancel form
		function cancelForm() {
			// hide form
			$('#formContainer').prop('hidden', true);

		}
		// save form
		// save the form content; may be save or update a product		
		function saveProduct(save_and_continue) {
			let formSel = '#productForm';
			let formCtSel = '#formContainer';

			// validate form
			if (!($(formSel)[0].reportValidity())) {
				console.log('form not valid');
				return;
			}
			let successFn = function (data) {
				if (data.success) {
					toastr.success(data.message);
					if (!save_and_continue) {
						$(formCtSel).prop('hidden', true);
					}
					// clean form
					$(formSel)[0].reset();
					refreshTable();
				} else {
					toastr.error(data.message);
				}
			}

			let failFn = function (result) {toastr.error(result.responseJSON.message);}

			// check if id is present for edit instead of add new
			let pId = $("input[name='id']").val();
			saveProductRequest((pId == "") ? '/product/new' : '/product/update',
				serializeForm(formSel), successFn, failFn);
		}

		/* ------------------------------------------------------------------------- */
		// form related functions

		// show product form
		function showProductForm() {			
			$('#productForm')[0].reset(); // clean
			$('#formContainer').removeAttr('hidden'); // show
		}

		// hide product form
		function hideProductForm() {

		}
		// load a product to form
		function loadProductValuesToForm(productId) {
			let successFn = function (result) {
				if (result.success) {
					$('#id').val(result.data.id);
					$('#name').val(result.data.name);
					toastr.success(result.message);
				} else {
					toastr.error(result.message);
				}
			}
			loadProductRequest(productId, successFn);
		}

		// serialize form		
		function serializeForm(formSelector) {
			var data = {};
			var form = $(formSelector).serializeArray();
			$.each(form, function () {
				data[this.name] = this.value;
			});
			return JSON.stringify(data);
		}

		// network actions
		// save or update a product
		function saveProductRequest(url, data, successFn, failFn) {
			$.ajax({
				type: "POST",
				url: url,
				data: data,
				contentType: "application/json",
				dataType: "json"
			})
				.done(successFn)
				.fail(failFn);
		}

		// get a product data
		function loadProductRequest(id, successFn) {
			$.ajax({
				type: "GET",
				url: '/product/get/' + id,
				success: successFn
			});
		}

		function deleteProductRequest(id, successFn, failFn) {
			$.ajax({
				type: "GET",
				url: '/product/delete/' + id

			}).done(successFn)
				.fail(failFn);
		}
	</script>
</body>

</html>